@import 'normilize.scss';

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

// === variables ===

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

// === / variables ===


.section-inner {
    max-width: 1180px;
    margin: 0 auto;
}

.section-outer {
    padding-right: 20px;
    padding-left: 20px;
}

// === header ===
.section-header {
    color: #ffffff;
    background-image: url(../img/bg-header.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    .section-inner {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    &-logo {
        margin-top: 10px;
        font-weight: bold;
        font-size: 24px;
        flex-shrink: 1;
    }

    &-content {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    &-wrapper {
        margin: 0 auto;
        text-align: center;
        font-weight: 700;

        &-title {
            font-size: 60px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-top: 2px solid #fff;
            border-bottom: 2px solid #fff;
            margin-bottom: 45px;
        }

        &-button {
            button {
                color: #fff;
                font-size: 18px;
                padding: 12px 30px;
                background: none;
                border: 2px solid #fff;
                outline: none;
                text-transform: uppercase;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}

// === header //=== 


// === navigation ===
.section-navigation {
    color: #fff;
    background-color: #252e30;

    &-wrapper {
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;

        @media(max-width: $screen-md-max) {
            flex-direction: column;
            align-items: center;
        }

        @media(min-width: $screen-md) {
            flex-direction: row;
            justify-content: space-between;
        }

        &__list {
            display: flex;

            @media(min-width: $screen-sm) {
                flex-direction: row;
            }

            @media(max-width: $screen-sm-max) {
                flex-direction: column;
                text-align: center;

                ul {
                    padding-left: 0;
                }
            }

            ul {
                list-style-type: none;

                a {
                    font-weight: bold;
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover {
                        color: #2ecc71;
                    }
                }
            }
        }
    }
}

// === navigation //===


// === about ===
.section-about {

    &-wrapper {
        &__items {
            display: flex;
            text-align: center;

            @media(min-width: $screen-sm) {
                justify-content: space-between;
                margin-top: 100px;
                margin-bottom: 100px;
            }

            @media(max-width: $screen-xs-max) {
                justify-content: space-between;
                flex-direction: column;
                margin-top: 30px;

            }
        }

        &-info {

            display: flex;

            @media(max-width: $screen-lg-max) {
                flex-direction: column;
                width: 100%;
                text-align: center;
            }

            &-img {
                img {
                    @media(max-width: $screen-lg-max) {
                        width: 100%;
                        display: block;
                    }
                }
            }
        }

        &-description {
            background-color: #f2f2f1;
            @media(max-width: $screen-sm-max) {
                padding-top: 60px;
            }
            @media(min-width: $screen-md) {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 50px 20px;
                flex-grow: 1;
                max-height: 41rem;
            }

        }

        &-areas {
            
            @media(min-width: $screen-sm) {
                display: flex;
                
            }

            @media(max-width: $screen-xs-max) {
                justify-content: space-between;
                flex-direction: column;
                margin-top: 30px;
            }
        }
    }

    &-item {
        flex-grow: 1;

        @media(max-width: $screen-xs-max) {
            margin-bottom: 30px;
        }
        

        &-title {
            color: #566366;
            font-size: 30px;
            margin-bottom: 20px;
            text-transform: uppercase;
            font-weight: bold;
        }

        &-text {
            color: #b2b2b2;
            line-height: 2;
        }
    }

    &-title {
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        color: #566366;
    }

    &-text {
        color: #919191;
        line-height: 2;

        p {
            margin-top: 35px;
        }
    }

    &-areas-item {
        
        
        
        img {
            height: 50px;
        }

        @media(min-width: $screen-xl) {
            padding-left: 58px;
            position: relative;
            img {
                position: absolute;
                left: 0;
            }
            &:not(:last-child){
                margin-bottom: 50px;
            }
        }


        &-title {
            font-size: 22px;
            font-weight: bold;
            margin: 10px 0 10px;
            text-transform: uppercase;
            color: #566366;
        }

        &-text {
            font-size: 18px;
            line-height: 2;
            color: #919191;
        }

    }
}

// === about //===

// ===skills ===

.section-skills {
    margin-top: 60px;
    margin-bottom: 100px;

    &-wrapper {


        @media(min-width: $screen-sm) {
            display: flex;
            justify-content: space-between;

            &-description {
                max-width: 47%;
            }
        }

        @media(max-width: $screen-xs-max) {
            &-description {
                text-align: center;
                margin-bottom: 30px;
            }
        }


        &-items {
            min-width: 47%;
        }
    }

    &-title {
        font-size: 30px;
        text-transform: uppercase;
        color: #566366;
        font-weight: bold;
    }

    &-text {
        p {
            font-size: 15px;
            color: #919191;
            margin: 0;
            padding-top: 20px;
        }
    }

    &-button {
        padding-top: 25px;

        button {
            color: #2ecc71;
            font-weight: bold;
            font-size: 18px;
            padding: 12px 30px;
            background: none;
            border: 2px solid #2ecc71;
            outline: none;
            text-transform: uppercase;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    &-item {
        margin-bottom: 30px;

        &-title {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
            color: #566366;
        }

        &-strip {
            background-color: #f2f2f1;
            width: 100%;
            height: 24px;
            color: #fff;
            position: relative;

        }

        .strip1 {
            &::before {
                content: '90%';
                position: absolute;
                z-index: 2;
                background-color: #2ecc71;
                color: #fff;
                width: 90%;
                height: 20px;
                padding-right: 5px;
                text-align: right;
                padding-top: 4px;
            }
        }

        .strip2 {
            &::before {
                content: '80%';
                position: absolute;
                z-index: 2;
                background-color: #2ecc71;
                color: #fff;
                width: 80%;
                height: 20px;
                padding-right: 5px;
                text-align: right;
                padding-top: 4px;
            }
        }

        .strip3 {
            &::before {
                content: '90%';
                position: absolute;
                z-index: 2;
                background-color: #2ecc71;
                color: #fff;
                width: 90%;
                height: 20px;
                padding-right: 5px;
                text-align: right;
                padding-top: 4px;
            }
        }

        .strip4 {
            &::before {
                content: '70%';
                position: absolute;
                z-index: 2;
                background-color: #2ecc71;
                color: #fff;
                width: 70%;
                height: 20px;
                padding-right: 5px;
                text-align: right;
                padding-top: 4px;
            }
        }
    }
}

// ===skills //===