*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  height: 105px;
  align-items: center;
}
.header__text {
  margin: auto;
  margin-left: 30px;
  color: #9a9a9a;
  font-size: 16px;
}
.header__phone {
  font-weight: 500;
  font-size: 20px;
}
.header__phone a {
  color: #303030;
  text-decoration: none;
  position: relative;
}
.header__phone a:before {
  content: '';
  background-image: url(../images/phone.svg);
  height: 15px;
  width: 15px;
  position: absolute;
  left: -27px;
  top: 5px;
}
.header__phone-text {
  font-size: 12px;
  font-weight: 400;
  color: #9a9a9a;
  text-align: right;
  padding-top: 3px;
}

.top {
  margin-bottom: 75px;
}
.top__images {
  background-image: url(../images/top-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 545px;
  max-width: 1720px;
  margin: 0 auto;
}
.top__wrapper {
  margin-top: -450px;
}
.top__inner {
  display: flex;
  justify-content: space-between;
}
.top__inner-img {
  margin-left: 125px;
}
.top__inner-form {
  max-width: 570px;
  width: 100%;
}
.top__inner-subtitle {
  margin-top: 70px;
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
}
.top__inner-title {
  font-size: 60px;
  margin-bottom: 40px;
  font-weight: 600;
  color: #fff;
}
.top__inner-text {
  font-size: 18px;
  margin-bottom: 73px;
  line-height: 24px;
  color: #fff;
}
.top-form {
  background-color: #fff;
  padding: 20px;
}
.top-form form {
  border: 1px solid #c8dcba;
  position: relative;
}
.top-form__inner {
  padding: 50px 50px 118px 50px;
}
.top-form__title {
  color: #303030;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1px;
  margin-bottom: 35px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 200px;
}
.top-form input {
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #c8dcba;
  outline: none;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  width: 195px;
}
.top-form input:not(:last-of-type) {
  margin-right: 30px;
}
.top-form input::placeholder {
  color: #c8dcba;
}
.top-form button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 22px 110px 22px 70px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  background-color: #7eb252;
  text-transform: uppercase;
}
.top-form button:after {
  content: '';
  background-image: url(../images/arrow-right.png);
  width: 31px;
  height: 9px;
  position: absolute;
  right: 60px;
  top: 26px;
}
.top-form button:hover {
  cursor: pointer;
}

.advantages__inner {
  display: flex;
  justify-content: space-around;
}
.advantages__item {
  position: relative;
  width: 220px;
  padding-left: 40px;
  padding-top: 35px;
}
.advantages__item::before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  display: block;
  border: 5px solid rgba(126, 178, 82, 0.3);
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.advantages__item-number {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 26px;
  color: #a4c58c;
  text-transform: uppercase;
  border-bottom: 2px solid #a4c58c;
  padding-bottom: 5px;
  display: inline-block;
}
.advantages__item-number span {
  font-size: 22px;
  margin-right: 5px;
}
.advantages__item-text {
  font-size: 14px;
  line-height: 24px;
}

.list {
  margin-top: 200px;
}
.list__title {
  font-weight: 700;
  color: #303030;
  font-size: 40px;
  line-height: 50px;
  max-width: 470px;
  margin-bottom: 30px;
}
.list__inner {
  display: flex;
  justify-content: space-between;
}
.list .tabs {
  width: 100%;
  padding-right: 20px;
}
.list .tabs__content {
  min-width: 500px;
  height: 689px;
  background-image: url(../images/list-images.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  margin-top: -170px;
}
.list .tabs .tab {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #303030;
  padding: 26px 40px 20px 0;
  align-items: center;
  border-bottom: 1px solid #e6efde;
  text-transform: uppercase;
  cursor: pointer;
}
.list .tabs .tab span {
  color: #a4c58c;
  margin-right: 18px;
}
.list .tabs__box {
  display: flex;
  flex-wrap: wrap;
}
.list .tabs__box .tab {
  width: 50%;
  font-weight: 400;
  font-size: 16px;
  text-transform: none;
  display: flex;
  align-items: center;
}
.list .tabs__box .tab span {
  font-size: 12px;
}
.list .tabs__box .tab:nth-child(even) {
  border-right: 1px solid #e6efde;
  padding-left: 20px;
}
.list .tabs__box .tab:nth-child(odd) {
  border-right: 1px solid #e6efde;
  padding-right: 20px;
}
.list .tabs__reviews {
  padding: 20px;
  background-color: #f6f9f3;
  max-width: 430px;
  position: absolute;
  bottom: 0;
}
.list .tabs__reviews-inner {
  border: 1px solid #c5dab5;
  padding: 30px 50px 30px 40px;
}
.list .tabs__reviews-text {
  color: #303030;
}
.list .tabs__reviews-link {
  color: #7eb152;
  font-weight: 600;
  padding: 0 8px;
  position: absolute;
  bottom: 10px;
  background-color: #f6f9f3;
  text-decoration: none;
}
.list .tabs__reviews-link:after {
  content: "";
  width: 100%;
  position: absolute;
  border-bottom: 1px solid #7eb152;
  margin: 0 auto;
  left: 0;
  bottom: -1px;
}
.list__link {
  display: flex;
  justify-content: flex-end;
}
.list__link a {
  margin-top: 20px;
  padding: 22px 155px 22px 125px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  background-color: #7eb252;
  text-transform: uppercase;
  text-decoration: none;
  min-width: 500px;
  position: relative;
}
.list__link a:after {
  content: '';
  background-image: url(../images/arrow-right.png);
  width: 31px;
  height: 9px;
  position: absolute;
  right: 105px;
  top: 30px;
}
.list .tab-item {
  display: none;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 700;
  width: 43px;
  height: 43px;
  border: 9px solid rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  position: absolute;
  text-align: center;
  line-height: 25px;
}
.list .tab-item:first-child {
  display: block;
}
.list .item-1 {
  left: 150px;
  top: 182px;
}
.list .item-2 {
  left: 300px;
  top: 200px;
}
.list .item-3 {
  left: 228px;
  top: 32px;
}
.list .item-4 {
  left: 228px;
  top: 90px;
}
.list .item-5 {
  left: 228px;
  top: 32px;
}
.list .item-6 {
  left: 176px;
  top: 112px;
}
.list .item-7 {
  left: 228px;
  top: 142px;
}
.list .item-8 {
  left: 238px;
  top: 182px;
}
.list .item-9 {
  left: 150px;
  top: 182px;
}

.tab.active {
  position: relative;
}
.tab.active:after {
  content: '';
  position: absolute;
  right: 10px;
  background-image: url(../images/shevron.svg);
  width: 8px;
  height: 13px;
}

.tabs__box .tab.active:after {
  display: none;
}

.popularity {
  margin-top: 200px;
}
.popularity__wrapper {
  max-width: 1720px;
  margin: 0 auto;
  background: url(../images/popularity.jpg);
  min-height: 645px;
  background-repeat: no-repeat;
}
.popularity__inner {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.popularity__box {
  background-color: #fff;
  padding: 20px;
  margin-right: 70px;
}
.popularity__box-text {
  border: 1px solid #c5dab5;
  padding: 30px;
  color: #303030;
}
.popularity__box-link {
  padding: 22px 85px 22px 27px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  background-color: #7eb252;
  text-transform: uppercase;
  text-decoration: none;
  min-width: 500px;
  position: absolute;
  text-decoration: none;
}
.popularity__box-link:after {
  content: '';
  background-image: url(../images/arrow-right.png);
  width: 31px;
  height: 9px;
  position: absolute;
  right: 40px;
  top: 30px;
}
.popularity__right {
  max-width: 500px;
  padding-right: 15px;
  width: 100%;
}
.popularity__right-title {
  margin-top: 55px;
  font-weight: 700;
  line-height: 50px;
  font-size: 40px;
  color: #303030;
}
.popularity__right-subtitle {
  font-size: 14px;
  color: #303030;
  padding: 50px 0;
  font-weight: 700;
  text-transform: uppercase;
}
.popularity__right-list li {
  list-style: none;
  color: #303030;
  line-height: 22px;
  padding-left: 40px;
  margin-bottom: 45px;
  position: relative;
}
.popularity__right-list li:before {
  content: '';
  position: absolute;
  left: 0;
  width: 8px;
  height: 13px;
  background-image: url(../images/shevron.svg);
  top: 50%;
  transform: translateY(-50%);
}

/*# sourceMappingURL=style.css.map */
