* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: rgba(252, 252, 252, 0.932);
  color: #4d4c4c;
}
@media screen and (max-width: 575px) {
  body {
    display: flex;
    flex-direction: column;
  }
}

.section-inner {
  display: inline-block;
}
@media screen and (min-width: 992px) {
  .section-inner {
    max-width: 68%;
  }
}
@media screen and (max-width: 991px) {
  .section-inner {
    max-width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .section-inner {
    max-width: 55%;
  }
}
@media screen and (max-width: 575px) {
  .section-inner {
    max-width: 100%;
  }
}

.section-outer {
  padding-left: 20px;
  padding-right: 20px;
}

.section-menu {
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #4d4c4c;
  top: 0;
  z-index: 10;
}
@media screen and (min-width: 576px) {
  .section-menu {
    display: flex;
  }
}
@media screen and (max-width: 575px) {
  .section-menu {
    align-items: flex-start;
  }
  .section-menu .secton-menu-btn {
    margin-right: 20px;
  }
  .section-menu .secton-menu-btn a {
    color: #fff;
    font-size: 18px;
  }
  .section-menu .secton-menu-btn a span {
    text-transform: uppercase;
    font-weight: 700;
  }
  .section-menu .secton-menu-btn a:hover {
    cursor: pointer;
  }
  .section-menu-nav {
    flex-direction: column;
  }
  .section-menu-nav li {
    display: none;
  }
  .section-menu-nav__text {
    margin-top: 2px;
  }
}
@media screen and (min-width: 576px) {
  .section-menu .secton-menu-btn {
    display: none;
  }
}
.section-menu-nav {
  display: flex;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .section-menu-nav__text {
    margin-left: 30px;
  }
}
.section-menu-nav__text a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  transition: .3s ease-in-out;
  font-weight: 400;
  font-size: 13px;
  padding: 4px 8px;
}
.section-menu-nav__text a:hover {
  color: #fff;
  background-color: #2fa59f;
  border-radius: 3px;
}

.section-about {
  margin-top: 20px;
}
@media screen and (max-width: 575px) {
  .section-about {
    text-align: center;
  }
}
.section-about .section-inner {
  padding-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .section-about-wrapper {
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .section-about__img {
    display: inline-block;
    margin-right: 20px;
    float: left;
    width: 30%;
  }
}
.section-about__img img {
  display: inline-block;
  width: 95%;
}
.section-about-description__title {
  margin-top: 10px;
  font-size: 30px;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.section-about-description__subtitle {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
.section-about-description__text {
  font-size: 17px;
  margin-top: 20px;
}
.section-about-description__text p {
  margin-bottom: 20px;
}
.section-about-description-buttons {
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .section-about-description-buttons__btn1, .section-about-description-buttons__btn2 {
    display: inline-block;
  }
  .section-about-description-buttons__btn1:not(:last-child), .section-about-description-buttons__btn2:not(:last-child) {
    margin-bottom: 14px;
  }
}
@media screen and (max-width: 767px) {
  .section-about-description-buttons__btn1:not(:first-child), .section-about-description-buttons__btn2:not(:first-child) {
    margin-top: 14px;
  }
  .section-about-description-buttons__btn1 a, .section-about-description-buttons__btn2 a {
    width: 80%;
  }
}
.section-about-description-buttons__btn1 a, .section-about-description-buttons__btn2 a {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0.5px;
  box-shadow: 0 0px 8px #2fa59f;
  transition: 0.2s;
  min-width: 110px;
}
.section-about-description-buttons__btn1 a:hover, .section-about-description-buttons__btn2 a:hover {
  transform: scale(1.1);
}
.section-about-description-buttons__btn1 a {
  background-color: #2fa59f;
  color: #fff;
  border: 3px solid transparent;
}
.section-about-description-buttons__btn2 a {
  color: #2fa59f;
  border: 3px solid #2fa59f;
  background-color: #fff;
}

.section-education {
  order: 4;
  margin-left: 10px;
  border-top: 1px solid #757575;
}
@media screen and (min-width: 992px) {
  .section-education {
    max-width: 65%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .section-education {
    max-width: 56%;
  }
}
.section-education__title {
  font-size: 30px;
  color: #2fa59f;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
.section-education-item:not(:last-child) {
  margin-bottom: 20px;
}
.section-education-item__title {
  font-weight: bold;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding-right: 80px;
}
.section-education-item__title span {
  position: absolute;
  right: 0;
  color: #8d8d8d;
}
.section-education-item__subtitle {
  margin-top: 10px;
  color: #8d8d8d;
  font-weight: bold;
}
.section-education-item__text {
  font-size: 14px;
  margin-top: 10px;
  line-height: 1.2;
}
.section-education-item__text a {
  text-decoration: none;
  color: grey;
  font-size: 14px;
  font-weight: bold;
}
.section-education-item__text a:hover {
  color: blue;
}

.aside {
  order: 3;
}
@media screen and (min-width: 576px) {
  .aside {
    position: absolute;
    right: 0;
    top: 80px;
  }
}
@media screen and (min-width: 768px) {
  .aside {
    width: 25%;
    padding-right: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .aside {
    width: 30%;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .aside {
    width: 40%;
  }
}
@media screen and (max-width: 575px) {
  .aside-contact {
    order: 1;
    margin-top: 20px;
  }
  .aside-skills {
    order: 2;
    margin-top: 20px;
  }
}
.aside-wrapper {
  display: flex;
  flex-direction: column;
}
.aside-contact {
  padding: 10px;
  transition: all 0.6s ease;
}
.aside-contact__title {
  font-weight: bold;
  font-size: 18px;
}
.aside-contact-item {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15px;
}
.aside-contact-item__text {
  transition: 0.2s ease-in-out;
}
.aside-contact-item__text i {
  margin-right: 10px;
}
.aside-contact-item__text:not(:last-child) {
  margin-bottom: 10px;
}
.aside-contact-item__text:hover {
  transform: scale(1.05);
}
.aside-contact-item__text a {
  text-decoration: none;
  font-size: 15px;
  color: rgba(134, 133, 133, 0.932);
}
.aside-contact-item__text a:hover {
  transform: scale(1.2);
  cursor: pointer;
}
@media screen and (max-width: 575px) {
  .aside-skills {
    width: 100%;
  }
}
@media screen and (min-width: 576px) {
  .aside-skills {
    margin-top: 40px;
  }
}
.aside-skills__title {
  font-weight: bold;
  font-size: 18px;
}
.aside-skills-item {
  margin-top: 25px;
}
.aside-skills-item__title {
  color: #8d8d8d;
  font-weight: bold;
}
.aside-skills-item__title:not(:last-child) {
  margin-bottom: 10px;
}
.aside-skills-item__persents-html, .aside-skills-item__persents-css, .aside-skills-item__persents-js {
  height: 16px;
  background-color: rgba(226, 226, 226, 0.9);
  margin-bottom: 10px;
  position: relative;
  z-index: -2;
  text-align: left;
  color: #fff;
  border-radius: 4px;
}
.aside-skills-item__persents-html span, .aside-skills-item__persents-css span, .aside-skills-item__persents-js span {
  position: absolute;
  left: 46%;
  top: -1px;
  font-weight: bold;
}
.aside-skills-item__persents-html:before {
  content: "";
  background-color: #2fa59f;
  width: 90%;
  height: 16px;
  position: absolute;
  border-radius: 4px;
  z-index: -1;
}
.aside-skills-item__persents-css:before {
  content: "";
  background-color: #2fa59f;
  width: 80%;
  height: 16px;
  position: absolute;
  border-radius: 4px;
  z-index: -1;
}
.aside-skills-item__persents-js:before {
  content: "";
  background-color: #2fa59f;
  width: 70%;
  height: 16px;
  position: absolute;
  border-radius: 4px;
  z-index: -1;
}
.aside-skills-item__text {
  font-size: 14px;
}

@media print {
  .section-menu {
    display: none;
  }

  .section-about {
    width: 60%;
    margin-right: 10px;
  }
  .section-about-wrapper {
    display: flex;
  }
  .section-about-description-buttons {
    display: none;
  }

  .section-education {
    width: 58%;
    margin-right: 10px;
  }

  .aside {
    border-left: 1px solid #000;
    margin-top: 30px;
    top: 0;
    right: -20px;
    position: absolute;
    width: 32%;
  }
  .aside .section-outer {
    padding-right: 0;
  }
  .aside-contact {
    padding: 0;
  }
  .aside-contact-item {
    padding-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
