@mixin light {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

@mixin regular {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

@mixin bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

@mixin extra-bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes headerLogo {


    10% {
        transform: scale(1.02)
    }

    20% {
        transform: scale(1.04)
    }

    30% {
        transform: scale(1.06)
    }

    40% {
        transform: scale(1.08)
    }

    50% {
        transform: scale(1.1)
    }

    60% {
        transform: scale(1.08)
    }

    70% {
        transform: scale(1.06)
    }

    80% {
        transform: scale(1.04)
    }

    90% {
        transform: scale(1.02)
    }
}

@keyframes bannerDescription {
    10% {
        color: rgb(249, 240, 255)
    }

    15% {
        color: rgb(245, 232, 253)
    }

    20% {
        color: rgb(239, 220, 250)
    }

    25% {
        color: rgb(235, 206, 252)
    }

    30% {
        color: rgb(230, 191, 253)
    }

    40% {
        color: rgb(225, 177, 253)
    }

    50% {
        color: rgb(183, 144, 250)
    }

    55% {
        color: rgb(193, 159, 253)
    }

    60% {
        color: rgb(203, 173, 255)
    }

    70% {
        color: rgb(210, 186, 250)
    }

    75% {
        color: rgb(218, 200, 248)
    }

    80% {
        color: rgb(226, 212, 248)
    }

    85% {
        color: rgb(230, 219, 248)
    }

    90% {
        color: rgb(234, 225, 248)
    }

    95% {
        color: rgb(239, 232, 250)
    }
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    width: 1140px;
    padding: 20px 60px;
}

header {
    padding-top: 30px;

    .logo {

        img {
            animation: headerLogo 1.6s infinite ease-in-out;
        }
    }


    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .nav {
            margin-bottom: 25px;

            li {
                display: inline-block;
                margin-left: 45px;
                text-transform: uppercase;

                a {
                    color: #000;
                    @include bold;
                    text-decoration: none;
                    font-style: 20px;

                    &:hover {
                        border-bottom: 5px solid #000;
                    }
                }
            }
        }
    }
}

.banner {
    background-image: url(../img/BannerGirls.png);
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    margin-top: 55px;
    box-shadow: 0 0 2px #000;

    .banner_description {
        p {
            @include extra-bold();
            font-size: 90px;
            margin: 0;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 0px 0px 20px rgb(68, 67, 67);
            letter-spacing: 20px;
            animation: bannerDescription 1.8s infinite ease-in-out;
        }
    }

    .enjoy {
        position: absolute;
        align-self: flex-end;
        margin-bottom: 40px;
        color: #000;
        margin-left: -610px;
        margin-top: -100px;

        p {
            vertical-align: center;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
            text-transform: uppercase;
            @include light();
            font-size: 20px;

            a {
                text-decoration: none;
                color: #000;
            }

            i {
                font-weight: 100;
                margin-right: 15px;

                &:hover {
                    transform: scale(1.3);
                    color: grey;
                }
            }
        }
    }
}

.nobis {
    margin-top: 70px;
    height: 290px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .nobis_description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 420px;

        h1 {
            width: 90%;
            font-size: 60px;
            @include bold();
            text-transform: uppercase;
            text-shadow: 1px 1px 1px #000;
        }

        p {
            line-height: 25px;
            width: 90%;
            height: 50px;
            @include regular();
            font-size: 15px;
            margin-top: -20px;
            overflow: hidden;

        }

        h4 {
            @include bold();
            font-size: 20px;

            a {
                text-decoration: none;
                color: #000;

                &:hover {
                    color: rgb(29, 107, 117);
                    text-shadow: 1px 1px 1px #000;
                }
            }
        }
    }

    .nobis_lines {
        margin-top: 90px;

        p {


            margin-top: 35px;
            position: relative;
            border: none;
            background-color: #000;
            height: 5px;
            width: 250px;
            margin-right: -120px;

            &:nth-of-type(1) {
                margin-left: 5px;

                &:after {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    width: 85px;
                    margin-left: 165px;
                    height: 5px;
                    color: grey;
                    background-color: grey;
                    z-index: 1;

                }
            }

            &:nth-of-type(2) {
                margin-left: 30px;

                &:after {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    width: 110px;
                    margin-left: 140px;
                    height: 5px;
                    color: grey;
                    background-color: grey;
                    z-index: 1;

                }
            }

            &:nth-of-type(3) {
                margin-left: 10px;

                &:before {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    width: 90px;
                    margin-left: 160px;
                    height: 5px;
                    color: grey;
                    background-color: grey;
                    z-index: 1;

                }
            }
        }
    }

    .nobis_img {
        text-align: right;

        h3 {
            @include extra-bold();
            font-size: 25px;
        }

        img {
            margin-top: -20px;
            box-shadow: 0 0 6px #000;
        }
    }
}

.graece {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;

    .graece_img {
        h3 {
            @include extra-bold();
            font-size: 25px;
        }

        img {
            margin-top: -20px;
            box-shadow: 0 0 6px #000;
        }
    }

    .graece_rectangle {
        position: absolute;
        background-color: #f6f6f6;
        width: 530px;
        height: 160px;
        z-index: -1;
        margin: 175px 0 0 -60px;
    }

    .graece_description {
        width: 47.5%;

        h1 {
            text-transform: uppercase;
            text-align: right;
            font-size: 60px;
            @include bold();
            text-shadow: 1px 1px 1px #000;

            span {
                display: flex;
                justify-content: flex-end;

                &:nth-of-type(1) {
                    font-size: 40px;
                    margin: 0;
                }

                &:nth-of-type(2) {
                    margin: -10px 0 0 0;
                }
            }
        }

        p {
            @include light();
            font-size: 15px;
            line-height: 25px;
            width: 100%;
        }

        h4 {
            @include bold();
            font-size: 20px;

            a {
                text-decoration: none;
                color: #000;

                &:hover {
                    color: rgb(29, 107, 117);
                    text-shadow: 1px 1px 1px #000;
                }
            }
        }
    }
}

.liber {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -220px;

    .liber_description {
        font-size: 60px;
        text-transform: uppercase;

        h1 {
            margin: 0;
            line-height: 100px;
            text-shadow: 1px 1px 1px #000;
        }

        span {
            margin: 0;
            @include extra-bold();
        }

        .liber_rectangle {
            position: absolute;
            width: 430px;
            height: 230px;
            background-color: #f6f6f6;
            transform: rotate(65deg);
            z-index: -1;
            margin-top: -400px;
            margin-left: 90px;
        }
    }

    .freeTemplate {
        position: absolute;
        align-self: flex-end;
        margin-top: -215px;
        margin-left: 975px;
        color: #000;

        p {
            vertical-align: center;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
            text-transform: uppercase;
            @include light();
            font-size: 20px;
        }
    }

    .liber_img {
        h3 {
            @include extra-bold();
            font-size: 25px;
            text-align: right;
        }

        img {
            margin-top: -20px;
            box-shadow: 0 0 6px #000;
        }
    }
}

.newsletter {
    background-image: url(../img/bg-newsletter.png);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 260px;
    z-index: 0;
    margin-top: 95px;

    h2 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        @include bold();
        font-size: 50px;
        text-shadow: 0 0 10px #000;
    }

    button {
        margin-top: -75px;
        z-index: 1;
        height: 30px;
        width: 135px;
        margin-left: auto;
        margin-right: auto;
        border: none;
        border-radius: 20px;
        color: #000;
        background-color: #fff;
        @include bold();
        text-transform: uppercase;
        font-size: 13px;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.information {
    margin-top: 95px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    ul {
        display: flex;
        justify-content: center;

        p {
            border: none;
            color: #000;
            background-color: #000;
            height: 2.5px;
            width: 5px;
            vertical-align: center;
            margin-top: 11px;
        }

        li {
            @include bold();
            letter-spacing: -1px;
            text-transform: uppercase;
            list-style-type: none;
            margin-right: 35px;

            &:hover {
                transform: scale(1.1);
            }

            a {
                text-decoration: none;
                color: #000;

                &:hover {
                    color: rgb(73, 72, 72);
                }
            }
        }
    }

    .info_text {
        text-align: center;
        @include regular();
        font-size: 14px;
        line-height: 18px;
    }
}

.categories {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    @include extra-bold();
    text-transform: uppercase;
    font-size: 60px;
    text-shadow: 0px 0px 20px rgb(68, 67, 67);

    .mei {
        @include flex-center();
        background-image: url(../img/Categories-mei.png);
        width: 360px;
        height: 470px;

        &:hover {
            box-shadow: 0px 0px 10px #000;
        }
    }

    .cibo {
        @include flex-center();
        background-image: url(../img/Categories-cibo.png);
        width: 360px;
        height: 470px;

        &:hover {
            box-shadow: 0px 0px 10px #000;
        }
    }

    .eum {
        @include flex-center();
        background-image: url(../img/Categories-eum.png);
        width: 360px;
        height: 470px;

        &:hover {
            box-shadow: 0px 0px 10px #000;
        }
    }
}

.corrumpit {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: flex-start;

    img {
        box-shadow: 0px 0px 6px #000;
    }

    .corrumpit_description {
        width: 47.5%;
        margin-top: -12px;

        h1 {
            margin: 0;
            text-transform: uppercase;
            text-align: right;
            font-size: 60px;
            @include bold();
            text-shadow: 1px 1px 1px #000;

            span {
                display: flex;
                justify-content: flex-end;

                &:nth-of-type(1) {
                    font-size: 40px;
                    margin: 0;
                }

                &:nth-of-type(2) {
                    margin: -10px 0 0 0;
                }
            }
        }

        .corrumpit_rectangle {
            position: absolute;
            background-color: #f6f6f6;
            width: 535px;
            height: 435px;
            z-index: -1;
            margin: -45px 0 0 -60px;
        }

        p {
            @include light();
            font-size: 15px;
            line-height: 25px;
            width: 95%;
            margin-top: 50px;

            &:nth-of-type(2) {
                margin-top: 50px;
            }
        }

        h4 {
            @include bold();
            font-size: 20px;

            a {
                text-decoration: none;
                color: #000;

                &:hover {
                    color: rgb(29, 107, 117);
                    text-shadow: 1px 1px 1px #000;
                }
            }
        }


    }
}

footer {
    margin-top: 95px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    ul {
        display: flex;
        justify-content: center;

        p {
            border: none;
            color: #000;
            background-color: #000;
            height: 2.5px;
            width: 5px;
            vertical-align: center;
            margin-top: 11px;
        }

        li {
            @include bold();
            letter-spacing: -1px;
            text-transform: uppercase;
            list-style-type: none;
            margin-right: 35px;

            &:hover {
                transform: scale(1.1);
            }

            a {
                text-decoration: none;
                color: #000;

                &:hover {
                    color: rgb(73, 72, 72);
                }
            }
        }
    }

    .footer_text {
        margin-top: 30px;
        text-align: center;
        @include regular();
        font-size: 14px;
        line-height: 18px;
    }

    .footer_icons {
        margin-top: 55px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;

        a {
            margin-right: 15px;

            img {
                &:hover {
                    transform: scale(1.15);
                    box-shadow: 0px 0px 3px #000;
                }
            }
        }
    }
}
