body {
    margin: 0;
    padding: 0;
}



@media only screen and (max-width:768px) and (min-width:200px) {
    .container-fluid {
        background-color: rgb(219, 219, 219);
        height: 100%;


    }

    .header {
        height: 30vh;
        margin-right: 5px;
        position: relative;
    }

    .main {
        height: 70vh;
    }

    .main .row {
        height: 11.2vh;
    }

    .main .box {
        width: 10px;
        font-size: 23px;
        margin-top: 20px;
        background-color: rgb(240, 239, 239);
        height: 100%;
        border: 2px solid rgb(219, 219, 219);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .standard {
        font-size: 18px;
        font-weight: 700;
        text-align: left;
    }

    .row_standard {
        margin-top: 10px;
    }

    .row_calculator {
        padding-top: 4px;
        font-size: 12px;
    }

    .calculator {
        font-weight: 600;
    }

    .result {
        font-size: 46px;
        font-weight: 600;
        margin-top: 55px;
    }

    .varieties_m {
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 20px;
        position: relative;
        font-size: 13px;
    }

    .m_thin {
        opacity: 0.2;
        font-weight: bold;
    }

    .row .numbers {
        font-weight: bold;
        font-size: 26px;
        background-color: #fff;

    }

}

@media only screen and (max-width:1280px) and (min-width:769px) {
    .container-fluid {
        background: linear-gradient(to right, #000, rgb(141, 137, 137));
        color: #fff;


    }

    .md_calculator {
        padding-top: 7px;
        font-size: 13px;
    }

    .md_calculator i {
        margin-left: 24px;
    }

    #standard {
        font-size: 18px;
    }

    .standard_md {
        margin-top: 20px;
    }

    .standard_md span {
        margin-right: 14px;
        font-weight: 600;
        ;
    }

    .navigation span:first-of-type {
        margin-left: 35%;
    }

    .result_md {
        font-weight: 600;
        font-size: 44px;
        border: 2px solid #fff;
        height: 11vh;
        margin-top: 30px;


    }

    .result_text {
        margin-top: 34px;
        font-size: 14px;

    }

    .variates_m {
        color: white;
        margin-top: 14px;
        margin-bottom: 14px;
        text-transform: uppercase;

    }

    .variates_m span {
        margin-right: 30px;
    }

    .m_thin {
        opacity: 0.4;
    }

    .calculator_buttons {
        height: 14.78vh;
        margin-top: 1px;
    }

    .calculator_buttons .box {
        font-size: 30px;
        background-color: #323232;
        opacity: 0.8;
        margin-right: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .calculator_buttons .numbers {
        background-color: #0f1011;
        font-weight: bold;
        font-size: 35px;
        margin: 1px 0 1px;
        margin-right: 2px;
        opacity: 0.9;
    }


}

@media only screen and (max-width:1920px) and (min-width:1281px) {
    .container-fluid {
        background: linear-gradient(to right, #000, rgb(141, 137, 137));
        color: #fff;
    }

    .md_calculator {
        padding-top: 7px;
        font-size: 13px;
    }

    .md_calculator i {
        margin-left: 24px;
    }

    #standard {
        font-size: 18px;
    }

    .standard_md {
        margin-top: 20px;
    }

    .standard_md span {
        margin-right: 14px;
        font-weight: 600;

    }

    .navigation span:first-of-type {
        margin-left: 8%;
    }

    .result_md {
        font-weight: 600;
        font-size: 44px;
        border: 2px solid #fff;
        height: 11vh;
        margin-top: 30px;


    }

    .result_text {
        margin-top: 34px;
        font-size: 14px;

    }

    .variates_m {
        color: white;
        margin-top: 14px;
        margin-bottom: 14px;
        text-transform: uppercase;

    }

    .variates_m span {
        margin-right: 30px;
    }

    .m_thin {
        opacity: 0.4;
    }

    .calculator_buttons {
        height: 14.78vh;
        margin-top: 1px;


    }

    .calculator_buttons .box {
        font-size: 30px;
        background-color: #323232;
        opacity: 0.8;
        margin-right: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .calculator_buttons .numbers {
        background-color: #0f1011;
        font-weight: bold;
        font-size: 35px;
        margin: 1px 0 1px;
        margin-right: 2px;
        opacity: 0.9;

    }


}