// === variables ===

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

// === / variables ===

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: rgba(252, 252, 252, 0.932);
    color: rgb(77, 76, 76);
}

.section-inner {
    @media screen and (min-width: $screen-lg) {
        max-width: 68%;
    }

    @media screen and (max-width: $screen-md-max) {
        max-width: 60%;
    }

    @media screen and (max-width: $screen-sm-max) {
        max-width: 55%;
    }

    @media screen and (max-width: $screen-xs-max) {
        max-width: 100%;
    }

    display: inline-block;
}

.section-outer {
    padding-left: 20px;
    padding-right: 20px;
}

// === menu ===

.section-menu {
    @media screen and (min-width: $screen-sm){
        display: flex;
    }
    
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(77, 76, 76);
    top: 0;
    z-index: 10;


    @media screen and (max-width: $screen-xs-max) {
        align-items: flex-start;

        .secton-menu-btn {
            margin-right: 20px;

            a {
                span{
                    text-transform: uppercase;
                    font-weight: 700;
                }
                color: #fff;
                font-size: 18px;
                &:hover{
                    cursor: pointer;
                }
            }
        }

        &-nav {
            li {
                display: none
                
            }

            flex-direction: column;

            &__text {
                margin-top: 2px;
            }
        }

    }

    @media screen and (min-width: $screen-sm) {
        .secton-menu-btn {
            display: none;
        }
    }


    &-nav {

        display: flex;
        list-style: none;

        &__text {
            @media screen and (min-width: $screen-md) {
                margin-left: 30px;
            }


            a {
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 1px;
                text-decoration: none;
                transition: .3s ease-in-out;
                font-weight: 400;
                font-size: 13px;
                padding: 4px 8px;

                &:hover {
                    color: #fff;
                    background-color: rgb(47, 165, 159);
                    border-radius: 3px;
                }
            }

        }
    }
}

// === / menu ===


// === about ===

.section-about {
    margin-top: 20px;

    .section-inner {
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(117, 117, 117);
    }

    &-wrapper {
        @media screen and (max-width: $screen-sm-max) {
            text-align: center;
        }
    }

    &__img {

        @media screen and (min-width: $screen-md) {
            display: block;
            margin-right: 20px;
            float: left;
        }

        img {}
    }

    &-description {

        &__title {
            font-size: 30px;
            letter-spacing: 0.5px;
            font-weight: bold;
        }

        &__subtitle {
            margin-top: 10px;
            font-size: 18px;
            font-weight: bold;
        }

        &__text {
            font-size: 17px;
            margin-top: 20px;
        }

        &-buttons {
            margin-top: 15px;


            &__btn1,
            &__btn2 {
                @media screen and (min-width: $screen-md) {
                    display: inline-block;

                }

                @media screen and (max-width: $screen-sm-max) {
                    &:not(:first-child) {
                        margin-top: 14px;
                    }

                    a {
                        width: 80%;
                    }

                }

                a {
                    display: inline-block;
                    padding: 7px 20px;
                    border-radius: 5px;
                    text-decoration: none;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: 900;
                    letter-spacing: 0.5px;
                    box-shadow: 0 0px 8px rgb(47, 165, 159);
                    transition: 0.2s;

                    &:hover {
                        transform: scale(1.1)
                    }
                }
            }

            &__btn1 {
                a {
                    background-color: rgb(47, 165, 159);
                    color: #fff;

                    @media screen and (min-width: $screen-md) {
                        margin-right: 40px;
                    }

                    min-width: 110px;
                    line-height: 24px;
                }

            }

            &__btn2 {
                a {

                    color: rgb(47, 165, 159);
                    border: 3px solid rgb(47, 165, 159);
                    background-color: #fff;
                    min-width: 105px;
                }
            }
        }
    }

}

// === / about ===


// === education ===

.section-education {
    &__title {
        font-size: 30px;
        color: rgb(47, 165, 159);
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &-item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &__title {
            font-weight: bold;
            position: relative;
            justify-content: space-between;
            align-items: center;
            padding-right: 80px;

            span {
                position: absolute;
                right: 0;
                color: rgb(141, 141, 141);
            }
        }

        &__subtitle {
            margin-top: 10px;
            color: rgb(141, 141, 141);
            font-weight: bold;
        }

        &__text {
            font-size: 14px;
            margin-top: 10px;
            line-height: 1.2;
        }
    }
}

// === / education ===


// === aside ===

.aside {

    @media screen and (min-width: $screen-sm) {
        position: absolute;
        right: 0;
        top: 80px;
    }

    @media screen and (min-width: $screen-md) {
        width: 25%;
        padding-right: 50px;
    }

    @media screen and (min-width: $screen-md) and (max-width: $screen-md-max) {
        width: 30%;
    }

    @media screen and (min-width: $screen-sm) and (max-width: $screen-sm-max) {
        width: 38%;
    }

    @media screen and (max-width: $screen-xs-max) {

        &-contact {
            order: 2;
            margin-top: 20px;
        }

        &-skills {
            margin-top: 20px;
        }
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
    }

    &-contact {
        &__title {
            font-weight: bold;
            font-size: 18px;
        }

        &-item {
            margin-top: 20px;
            margin-bottom: 20px;
            padding-left: 15px;

            &__text {
                i {
                    margin-right: 10px;
                }

                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                transition: 0.2s ease-in-out;

                &:hover {
                    transform: scale(1.05);
                }

                a {
                    text-decoration: none;
                    font-size: 15px;
                    color: rgba(134, 133, 133, 0.932);


                    &:hover {
                        transform: scale(1.2);
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &-skills {
        @media screen and (max-width: $screen-xs-max) {
            width: 100%;
        }

        &__title {
            font-weight: bold;
            font-size: 18px;
        }

        &-item {
            margin-top: 25px;

            &__title {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                color: rgb(141, 141, 141);
                font-weight: bold;
            }

            &__persents-html,
            &__persents-css,
            &__persents-js {
                height: 16px;
                background-color: rgba(226, 226, 226, 0.9);
                margin-bottom: 10px;
                position: relative;
                z-index: -2;
                text-align: left;
                color: #fff;
                border-radius: 4px;

                span {
                    position: absolute;
                    left: 46%;
                    top: -1px;
                    font-weight: bold;
                }


            }

            &__persents-html {
                &:before {
                    content: "";
                    background-color: rgb(47, 165, 159);
                    width: 90%;
                    height: 16px;
                    position: absolute;
                    border-radius: 4px;
                    z-index: -1;
                }
            }

            &__persents-css {
                &:before {
                    content: "";
                    background-color: rgb(47, 165, 159);
                    width: 80%;
                    height: 16px;
                    position: absolute;
                    border-radius: 4px;
                    z-index: -1;
                }
            }

            &__persents-js {
                &:before {
                    content: "";
                    background-color: rgb(47, 165, 159);
                    width: 70%;
                    height: 16px;
                    position: absolute;
                    border-radius: 4px;
                    z-index: -1;
                }
            }


            &__text {
                font-size: 14px;
            }
        }
    }
}

// === / aside ===